@{
    ViewData["Title"] = "ZxLogin List";
}

<section class="page content">

<div>
    <h1>Zx Login</h1>
    <p class="lead">
        This page is left intentionally blank.
        <br/>Use this document as a way to quickly start any new page.
        <br/> All you get is this text and a mostly barebones HTML document.</p>

</div>

<!--
<table>
    <thead>
        <tr><th>Key</th><th>Value</th></tr>
    </thead>
    <tbody>
        <tr><td>@@User</td><td>@User</td></tr>

        <tr><td>@@User.Identity.Name</td><td>@User.Identity.Name</td></tr>
        <tr><td>@@User.Identity.IsAuthenticated</td><td>@User.Identity.IsAuthenticated</td></tr>
        <tr><td>@@User.Identities.Count()</td><td>@User.Identities.Count()</td></tr>
        <tr><td>@@User.Claims.Count()</td><td>@User.Claims.Count()</td></tr>
    </tbody>
</table>
-->


</section>